BackEnd/Core/sailfish-core/src/main/etc/functional_report.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

	<xsd:simpleType name="StatusType" >
		<xsd:restriction base="xsd:string" >
			<xsd:enumeration value="PASSED" />
			<xsd:enumeration value="CONDITIONALLY_PASSED" />
			<xsd:enumeration value="FAILED" />
			<xsd:enumeration value="CONDITIONALLY_FAILED" />
			<xsd:enumeration value="SKIPPED" />
			<xsd:enumeration value="N/A" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="MessageLevelType" >
		<xsd:restriction base="xsd:string" >
			<xsd:enumeration value="DEBUG" />
			<xsd:enumeration value="INFO" />
			<xsd:enumeration value="WARN" />
			<xsd:enumeration value="ERROR" />
			<xsd:enumeration value="FAIL" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ExceptionType">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="StackTrace" type="xsd:string" maxOccurs="unbounded" />
			<xsd:element name="Cause" type="ExceptionType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="StatusDescriptionType" >
		<xsd:sequence>
			<xsd:element name="Status" type="StatusType" />
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="Exception" type="ExceptionType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ParameterType" >
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1" />
			<xsd:element name="Description" type="xsd:string" minOccurs="1" />
			<xsd:element name="Type" type="xsd:string" minOccurs="1" />
			<xsd:element name="Value" type="xsd:string" minOccurs="1" />
			<xsd:element name="SubParameters" type="ListOfParametersType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ListOfParametersType" >
		<xsd:sequence>
			<xsd:element name="Parameter" type="ParameterType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ActionType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" />
            <xsd:element name="StartTime" type="xsd:dateTime" />
            <xsd:element name="FinishTime" type="xsd:dateTime" />
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="InputParameters" type="ListOfParametersType" />
			<xsd:element name="SubSteps" type="TestStepType" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Status" type="StatusDescriptionType" />
            <xsd:element name="LinkToReport" type="xsd:string" minOccurs="0" />
            <xsd:element name="ActionGroup" type="ActionGroupType" minOccurs="0" />
            <xsd:element name="KnownBugs" type="KnownBugs" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="ActionGroupType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" />
            <xsd:element name="Description" type="xsd:string" />
			<xsd:element name="SubSteps" type="TestStepType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ComparisonParameterType" >
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1" />
			<xsd:element name="Description" type="xsd:string" minOccurs="1" />
			<xsd:element name="Note" type="xsd:string" minOccurs="1" />
			<xsd:element name="Type" type="xsd:string" minOccurs="1" />
			<xsd:element name="Actual" type="xsd:string" minOccurs="1" />
			<xsd:element name="Expected" type="xsd:string" minOccurs="1" />
			<xsd:element name="Precision" type="xsd:string" minOccurs="1" />
			<xsd:element name="SystemPrecision" type="xsd:string" minOccurs="1" />
			<xsd:element name="Result" type="StatusType" minOccurs="1" />
			<xsd:element name="SubParameters" type="ComparisonTableType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ComparisonTableType" >
		<xsd:sequence>
			<xsd:element name="Parameter" type="ComparisonParameterType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="VerificationType" >
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" />
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="SubSteps" type="TestStepType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Status" type="StatusDescriptionType" />
			<xsd:element name="ComparisonTable" type="ComparisonTableType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TableType" >
		<xsd:sequence>
			<xsd:element name="Header" type="xsd:string" maxOccurs="unbounded" />
			<xsd:element name="Rows" maxOccurs="unbounded" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cols" type="xsd:string" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" />
	</xsd:complexType>

    <xsd:complexType name="KnownBugs">
        <xsd:sequence>
            <xsd:element name="BugDescription" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Category" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:attribute name="value" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="Subject" type="xsd:string"/>
                    <xsd:attribute name="Reproduced" type="xsd:boolean"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="InfoType" >
		<xsd:choice>
			<xsd:element name="Messages" type="xsd:string" maxOccurs="unbounded" />
			<xsd:element name="Exception" type="ExceptionType" minOccurs="0" />
			<xsd:element name="Table" type="TableType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="LogTable" type="LoggerTableType" minOccurs="0" maxOccurs="1"/>
		</xsd:choice>
		<xsd:attribute name="Level" type="MessageLevelType" />
	</xsd:complexType>

	<xsd:complexType name="TestStepType" >
		<xsd:choice>
			<xsd:element name="Action" type="ActionType" />
			<xsd:element name="Verification" type="VerificationType" />
			<xsd:element name="Info" type="InfoType" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="TestCaseType" >
		<xsd:sequence>
			<xsd:element name="Order" type="xsd:int"/>
			<xsd:element name="MatrixOrder" type="xsd:int"/>
			<xsd:element name="Hash" type="xsd:long"/>
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="Id" type="xsd:string" />
			<xsd:element name="Status" type="StatusDescriptionType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="TestSteps" type="TestStepType" maxOccurs="unbounded" />
            <xsd:element name="StartTime" type="xsd:dateTime" />
            <xsd:element name="FinishTime" type="xsd:dateTime" />
            <xsd:element name="KnownBugs" type="KnownBugs" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>

		<xsd:attribute name="TestCaseName" type="xsd:string" />
	</xsd:complexType>

	<xsd:element name="FunctionalReport" >
		<xsd:complexType>
			<xsd:sequence>
                <xsd:element name="Version" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="Plugins">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Plugin" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Name" type="xsd:string" />
                                        <xsd:element name="Version" type="xsd:string" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="TestCase" type="TestCaseType" minOccurs="0"  maxOccurs="unbounded" />
				<xsd:element name="Exception" type="ExceptionType" minOccurs="0"/>
				<xsd:element name="Alerts" type="TableType" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="StartTime" type="xsd:dateTime" />
                <xsd:element name="FinishTime" type="xsd:dateTime" />
                <xsd:element name="KnownBugs" type="KnownBugs" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>


			<xsd:attribute name="ScriptName" type="xsd:string" use="required" />
			<xsd:attribute name="host" type="xsd:string" use="required" />
			<xsd:attribute name="user" type="xsd:string" use="required" />
			<xsd:attribute name="ScriptRunId" type="xsd:long" use="required" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="TimestampType">
		<xsd:sequence>
			<xsd:element name="Time" type="xsd:string" />			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="LevelType">
		<xsd:sequence>
			<xsd:element name="LevelName" type="xsd:string" />			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ClassType">
		<xsd:sequence>
			<xsd:element name="ClassName" type="xsd:string" />			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="LoggerRowType">
		<xsd:sequence>
			<xsd:element name="TimeStamp" type="TimestampType" />			
			<xsd:element name="Level" type="LevelType" />	
			<xsd:element name="Thread" type="xsd:string" />		
			<xsd:element name="Class" type="ClassType" />		
			<xsd:element name="Message" type="xsd:string" />		
			<xsd:element name="Exception" type="ExceptionType" />			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="LoggerTableType">
		<xsd:sequence>
			<xsd:element name="Header" type="xsd:string" maxOccurs="unbounded" />
			<xsd:element name="Rows" type="LoggerRowType" maxOccurs="unbounded" />			
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" />
	</xsd:complexType>

</xsd:schema>
