BackEnd/Core/sailfish-core/src/main/xsd/data.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

	<xsd:complexType name="data">
		<xsd:sequence>
			<xsd:element name="resource" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="title" type="xsd:string" />
	</xsd:complexType>

	<xsd:element name="dataListing">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="data" type="data" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>